@import '../../global';

.container {
	@include center;

	width: 100%;
	height: 100%;

	/* background-color: red; */
}

.appoint {
	@include simple_box;

	display: flow-root;
	margin: 1rem;
}

.timePicker {
	@include center;

	margin: 1rem 0;
	gap: 1rem;

	.roomSelectBox {
		flex: 0 0 10rem;
	}
}

.timeLineBox {
	display: flex;
	overflow: auto;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 36rem;
}
@mixin wapper() {
	@include center;

	flex-wrap: wrap;
	align-items: flex-start;
	height: 100%;
	gap: 2rem;

	& > h4 {
		position: sticky;
		top: 0;
		z-index: 999;
		width: 100%;
		height: 1rem;
		background-color: #91cc75;
		@include center;
	}

	& > div {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: max-content;

		& > span {
			@content;
		}
	}
}

.timeLineWapper {
	flex: 1;
	min-width: 140px;
	@include wapper {
		border-collapse: collapse;
		border-spacing: 0;
		border: 1px solid #dee0e3;
		width: 100%;
		@include center;

		& > div {
			margin: 0;
			padding: 0.3rem;
			cursor: pointer;
		}
	}
}

.hoursLineWapper {
	flex: 1;
	min-width: 140px;
	max-width: 160px;
	@include wapper {
		@include center;

		width: 100%;
	}
}

.container2 {
	margin-top: 2%;
	width: 97%;
	height: 98%;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);

	/* background-color:green; */
}

.operate {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding-left: 1.5%;
	width: 100%;
	height: 10%;

	/* background-color: red; */
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
}

.table {
	box-sizing: border-box;

	/* padding: 1px 10px; */
	margin-top: 1%;
	width: 100%;
}

.operate .cascader {
	margin-left: 0.5%;
}

.operate button {
	margin-left: 0.5%;
}

.big {
	background-color: white;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100%;
}

.dd {
	background-color: #c4b8b8;
}

.open {
	background-color: white;
}

.do {
	background-color: #d3d3;
}

.doSubscribed {
	background-color: #fac858;
}

.doExpireSubscribe {
	background-color: #d3d3;
}

.doComplete {
	background-color: #91cc75;
}

.black {
	background-color: black;
}
