@mixin flex_center() {
	display: flex;
	place-content: flex-start center;
	align-items: center;
	@content;
}
@mixin flex_start() {
	display: flex;
	place-content: flex-start flex-start;
	align-items: center;
	@content;
}
@mixin flex_wrap() {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	@content;
}
@mixin border_radius($rad: 1) {
	border-radius: rem($rad);
}
@mixin grass($scale:16px) {
	backdrop-filter: blur($scale);
}
@mixin border() {
	border: 1px solid col(primary, 0.9);
}
@mixin pointer() {
	cursor: pointer;
}
@function col($name, $a: 1) {
	@if type-of($name) == 'color' {
		@return rgba($name, $a);
	} @else {
		@return rgba(var(--#{$name}), $a);
	}
}
@function rem($val) {
	@return ($val) * 1rem;
}
@function rootVw($rootSize) {
	@return $rootSize * 1px;
}
@mixin scrollbar($color:sub) {
	&::-webkit-scrollbar {
		width: rem(0.2);
		height: rem(0.2);
	}

	&::-webkit-scrollbar-thumb {
		background-color: col($color, 0.4);
		border-radius: rem(0.2);
	}

	&::-webkit-scrollbar-track {
		background-color: col(grey-5, 0.4);
		border-radius: rem(0.2);
	}
}
@mixin scrollbar_hover() {
	&::-webkit-scrollbar {
		visibility: hidden;
	}

	&::-webkit-scrollbar-thumb {
		visibility: hidden;
	}

	&::-webkit-scrollbar-track {
		visibility: hidden;
	}

	&:hover {
		&::-webkit-scrollbar {
			visibility: visible;
		}

		&::-webkit-scrollbar-thumb {
			visibility: visible;
		}

		&::-webkit-scrollbar-track {
			visibility: visible;
		}
	}
}
@mixin shadow($type, $shadowFlag: false) {
	@if $type == 'box' {
		box-shadow: 0 rem(0.1) rem(0.4) rem(0) col(shadow, 0.2);
	} @else if $type == 'tag' {
		box-shadow: 0 rem(0.1) rem(0.2) rem(0) col(shadow, 0.1);
	} @else if $type == 'text' {
		text-shadow: 0 0 rem(1) col(primary, 0.6);
	}
	@if $shadowFlag {
		@include shadow_hover;
	}
}
@mixin shadow_hover() {
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0 rem(0.1) rem(0.6) rem(0.2) col(shadow, 0.2);
	}
}
@mixin text_hover {
	transition: color 0.3s;

	&:hover {
		color: col(sub) !important;
	}
}
@mixin bg_hover($type: primary, $alpha: 0.5) {
	transition: background-color 0.3s;

	&:hover {
		background-color: col($type, $alpha) !important;
	}
}
@mixin after_bg_hover($type: primary, $alpha: 0.5) {
	&::after {
		transition: background-color 0.3s;
	}

	&:hover {
		&::after {
			background-color: col($type, $alpha) !important;
		}
	}
}
